<?xml version="1.0"?>
<launch>
  <!-- These should be the same as used with openni_launch -->
  <arg name="camera" default="camera" />
  <arg name="hw_registered" default="false" />

  <arg name="odom_frame_id" default="odom" />
  <arg name="base_link_frame_id" default="base_link" />
  <arg name="publish_tf" default="true" />
  <arg name="tf_factor" default="1.0" />

  <!-- <node pkg="nodelet" type="nodelet" args="manager" name="nodelet_manager" /> -->
  <!-- <node pkg="nodelet" type="nodelet" name="convert_openni_fovis" -->
  <!--       args="load depth_image_proc/convert_metric nodelet_manager" output="screen"> -->
  <!--   <remap unless="$(arg hw_registered)" from="image_raw" to="$(arg camera)/depth_registered/sw_registered/image_rect_raw"/> -->
  <!--   <remap if="$(arg hw_registered)" from="image_raw" to="$(arg camera)/depth_registered/hw_registered/image_rect_raw"/> -->
  <!--   <remap from="image" to="$(arg camera)/depth_registered/image_rect"/> -->
  <!-- </node> -->

  <!-- <group ns="$(arg camera)"> -->
  <!--   <node pkg="image_proc" type="image_proc" name="convert_openni_fovis_rgb" output="screen" > -->
  <!--     <remap from="image_raw" to="rgb/image_raw"/> -->
  <!--     <remap from="camera_info" to="rgb/camera_info" /> -->
  <!--     <remap from="image_rect" to="rgb/image_rect"/> -->
  <!--   </node> -->
  <!-- </group> -->


  <node pkg="fovis_ros" type="fovis_mono_depth_odometer" name="kinect_odometer" output="screen" respawn="true">
    <remap unless="$(arg hw_registered)" from="camera/depth_registered/camera_info" to="camera/depth_registered/sw_registered/camera_info" />
    <remap from="camera" to="$(arg camera)" />
    <remap from="camera/rgb/image_rect" to ="$(arg camera)/rgb/image_rect_color" />
    <remap if="$(arg hw_registered)" from="camera/depth_registered/image_rect" to="$(arg camera)/depth_registered/hw_registered/image_rect_raw"/>
    <remap unless="$(arg hw_registered)" from="camera/depth_registered/image_rect" to="$(arg camera)/depth_registered/sw_registered/image_rect_raw"/>
    <param name="approximate_sync" type="bool" value="True" />
    <param name="odom_frame_id" type="String" value="$(arg odom_frame_id)" />
    <param name="base_link_frame_id" type="String" value="$(arg base_link_frame_id)" />
    <param name="publish_tf" type="bool" value="$(arg publish_tf)" />
    <param name="tf_factor" type="double" value="$(arg tf_factor)" />

    <param name="max_keypoints_per_bucket" type="string" value="10" />
    <param name="update_target_features_with_refined" type="string" value="1" />
    <!--
    <param name="clique_inlier_threshold" type="string" value="0.05" />
    <param name="inlier_max_reprojection_error" type="string" value="0.5" />
    <param name="min_features_for_estimate" type="string" value="10" />
    <param name="max_mean_reprojection_error" type="string" value="10" />
    <param name="target_pixels_per_feature" type="string" value="250" />
    -->
  </node>
</launch>
